<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="minstyle.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="nav-bar">
            <div class="login">
                <ul>
                    <li><a href="signup.html" class="signup">Sign Up</a></li>
                </ul>
                <button class="btn" onClick="location='Login1.html';">Log in</button>
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('main.index') }}"><img src=logo.png class="logo"><p class="app">Spotify</p></a></li>
            <li class="home-links"><span><i class="fas fa-home" style="color:white;"></i></span><a href="index.html" >Home</a></li>
            <li class="search-links"><span><i class="fas fa-search" style="color:white;"></i></span><a href="#" > Search</a></li>
            <li class="library-links"><span><i class="fas fa-photo-video" style="color:white;"></i></span><a href="#" >Your Library</a></li>
        </ul>
    </nav>
    <main>
        <div class="foryourlising">
            <h1>For Your Listening Pleasure!</h1>
                <div class="container">
                    <article>
                        <div class="listening">
                            <img src=images/coverkiller.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Eminem</h2>
                            <p>Music to be <br>murdered by.</p>
                        </div>
                        <div class="listening2">
                            <img src=images/cover1.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Instrumental Covers</h2>
                            <p>Soft Jazz for A Rainy Day,<br>Romantic Time.</p>
                        </div>
                        <div class="listening3">
                            <img src=images/cover2.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Whistle</h2>
                            <p>TRAILER<br>TENSION.</p>
                        </div>
                        <div class="listening4">
                            <img src=images/cover3.png class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Weeknd</h2>
                            <p>This is the essential <br>The Weeknd.</p>
                        </div>
                        <div class="listening5">
                            <img src=images/hindicover.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Mahira & Para</h2>
                            <p>Mainu Rang Lageya.</p>
                        </div>
                        <div class="listening6">
                            <img src=images/malayalam.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Thaikkudam Bridge</h2>
                            <p>Nostalgia.</p>
                        </div>
                        <div class="listening7">
                            <img src=images/images.jpg class=cover1><i class="fas fa-play-circle"></i>
                            <h2>Solomon Jaye</h2>
                            <p>‎Ordinary Man.</p>
                        </div>
                    </article>
                </div>
        </div>
    </main>
        <script src="app.js"></script>
   </body>
</html>
