<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <script src="{{ url_for('static',filename='confirm.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">

</head>
<nav>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="nav-bar">
        <div class="login">
            <ul>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.profile') }}" class="signup">Profile</a></li>
            </ul>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.signup') }}" class="signup">Signup</a></li>
            </ul>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <button type="button" class="btn" onClick="window.location.href='{{ url_for('auth.login') }}';">Log
                In</button>
            {% endif %}
            {% if current_user.is_authenticated %}
            <button type="button" class="btn" onClick="window.location.href='{{ url_for('auth.logout') }}';">Log
                Out</button>
            {% endif %}
        </div>
    </div>
    <ul class="nav-links">
        <li><a href="{{ url_for('main.index') }}"><img src=static/images/logo.png class="logo">
                <p class="app">Spotify</p>
            </a></li>
        <li class="home-links"><span><i class="fas fa-home" style="color:white;"></i></span><a
                href="{{ url_for('main.index') }}">Home</a></li>
        <li class="search-links"><span><i class="fas fa-search" style="color:white;"></i></span><a
                href="{{ url_for('main.search') }}"> Search</a></li>
        <li class="library-links"><span><i class="fas fa-photo-video" style="color:white;"></i></span><a href="#">Your
                Library</a></li>
        <div class="login-first">
            <li class="Playist-links"><span><i class="far fa-plus-square"></i></span><a href="#">Your Playlist</a></li>
            <li class="Liked-links"><span><i class="fas fa-heart"></i></span><a href="#">Liked Songs</a></li>
        </div>
    </ul>
</nav>
<body style="background-color: rgb(51, 51, 51);">
<main>

    <div class="foryourlising" style="margin:100px;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {{ messages[0] }}

        {% endif %}
        {% endwith %}
        {% block content %}

        <h1 style="color: rgb(181, 212, 102);">Let's update your Password <b><em> {{ name }} !</em></b></h1>

        <form method="POST" action="/resetpassword" enctype="multipart/form-data" style="background-color: grey; width: 100%;">
            <div  style="margin-right:100px;">
            <p>Current Password:<input type="password" name="curpass" title="Please enter your current password" placeholder="&nbsp;Enter current password " required /></p>
            <br>
            <p>New Password:<input type="password" name="newpass" tiltle="Must contain at least one number,one uppercase,one lowercase letter and minimum 8 characters" placeholder="&nbsp;Enter new password" required/></p>
            <br>
            <p>Confirm New Password:<input type="password" name="conpass" title="Must contain at least one number,one uppercase,one lowercase letter and minimum 8 characters" placeholder="&nbsp;Enter Password again" required/></p>
            <br><br>
            <button type="submit" class="btn btn-secondary btn-lg btn-block" style="background-color: indianred;">Save Changes</button>
            </div>
        </form>



    </div>

    {% endblock %}
</main>
</body>

</html>
